<!--系统设置  ->  用户添加-->
<div class="row">
    <div class="col-md-12">
        <div class="box box-success">
            <div class="box-header with-border">
              <h3 class="box-title">添加配置项</h3>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            <form class="form-horizontal" name="itemForm1" id="itemForm1">
              <div class="box-body">
                <div class="form-group">
                  <div class="row">
                    <div class="col-md-12">
                          <div class="col-xs-2">
                            名称ID
                          </div>
                          <div class="col-xs-2">
                            名称
                          </div>
                          <div class="col-xs-1">
                            类别
                          </div>
                          <div class="col-xs-3">
                            值
                          </div>
                          <div class="col-xs-1">
                            锁定
                          </div>
                          <div class="col-xs-1">
                            索引
                          </div>
                          <div class="col-xs-1">
                            显示
                          </div>
                          <div class="col-xs-1">

                          </div>
                        </div>
                  </div>
                </div>
                <div class="form-group">
                  <div ng-repeat="field in fields">
                    <div class="row">
                      <ng-form name="subform{{$index}}">
                        <div class="col-md-12">
                          <div class="col-xs-2" ng-class="{'has-success':!subform{{$index}}.nameid.$invalid,
                            'has-error':subform{{$index}}.nameid.$error.required}">
                            <input class="form-control input-sm" required ng-pattern="/[a-zA-Z]\w{1,}/"
                              name="nameid" placeholder="字段ID" type="text" ng-model="field.nameid">
                          </div>
                          <div class="col-xs-2" ng-class="{'has-success':!subform{{$index}}.name.$invalid,
                            'has-error':subform{{$index}}.name.$error.required}">
                            <input class="form-control input-sm" required name="name" placeholder="字段名称"
                              type="text" ng-model="field.name">
                          </div>
                          <div class="col-xs-1">
                            <select class="form-control" ng-change="fieldtype($index)" name="fieldtype"
                              ng-model="field.type">
                              <option value="str" ng-selected="true">字符串</option>
                              <option value="int">整数</option>
                              <option value="time">时间</option>
                              <option value="array">数组</option>
                              <option value="foreignKey">外键</option>
                              <option value="subsetArray">子表</option>
                              <!--
                              <option ng-repeat="option in ftypes" ng-value="option.value">{{option.name}}</option>
                              -->
                            </select>
                          </div>
                          <div class="col-xs-3">
                            <input class="form-control input-sm" ng-disabled="! field.isvalue"
                              name="value" placeholder="表名:列名" type="text" ng-model="field.value">
                          </div>
                          <div class="col-xs-1">
                            <input icheck type="checkbox" name="mode"
                              ng-model="fields[$index].mode">
                          </div>
                          <div class="col-xs-1">
                            <input icheck type="checkbox" name="skey"
                              ng-model="fields[$index].skey">
                          </div>
                          <div class="col-xs-1">
                            <input icheck type="checkbox" name="display"
                              ng-model="fields[$index].display">
                          </div>
                          <div class="col-xs-1">
                            <button type="button" class="btn btn-info btn-sm fa fa-minus"
                              ng-click="fields.splice($index,1)">
                            </button>
                          </div>
                        </div>
                      </ng-form>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="row">
                    <div class="col-sm-7" style="margin-left:10px;">

                      <button type="button" class="btn btn-info btn-sm fa fa-plus" ng-click="addField()">
                      </button>

                      <!--
                      <a href="#"  class="btn btn-info btn-sm" ng-click="addField()"
                        data-reveal-id="add-label-myModal" data-animation="fade">
                        <i class="fa fa-plus"></i>
                      </a>
                      -->
                    </div>
                  </div>
                </div>
              </div>

              <!-- /.box-body -->
              <div class="box-footer">
                <button type="button" class="btn btn-default" ng-click="cancel()">返回列表</button>
                <button type="button" class="btn btn-info pull-right" ng-click="ok(!itemForm.$invalid)">提交</button>
              </div>
              <!-- /.box-footer -->
            </form>
          </div>
    </div>
</div>
