<!--用户管理  ->  展示列表-->
<div class="row">
  <div class="col-xs-12">
    <div class="box">
      <div class="box-header">
        <h3 class="box-title">角色管理</h3>
      </div>
      <div class="clearfix">
        <div style="float: right; padding:0 15px;">
          <div has-permission="/auth/role:POST" style="float: left;margin-right:10px;padding-bottom:10px;">
            <a href="/auth/role/add"  class="btn btn-sm">
              <i class="fa fa-plus fa-2x"></i>
            </a>
          </div>
        </div>
			  <div class="input-group input-group-sm" style="width:180px;padding-bottom:10px;padding-left:10px;">
          <input type="text" class="form-control pull-right"
            placeholder="查找..."
            ng-model="page.itemFilter">
          <div class="input-group-btn">
            <button type="submit" class="btn btn-default">
              <i class="fa fa-search"></i>
            </button>
          </div>
        </div>
      </div>
      <!-- /.box-header -->
      <div ng-switch="tablestatus">
        <div class="box-body table-responsive no-padding" ng-switch-when="1">
          <table id="itemtable" class="table table-bordered table-striped">
            <thead>
              <tr>
                <th>
                  <a href="#" ng-click="sortType = 'name'; sortReverse = !sortReverse">
                    名称
                    <span ng-show="sortType == 'name' && !sortReverse"
                      class="fa fa-caret-down">
                    </span>
                    <span ng-show="sortType == 'name' && sortReverse"
                      class="fa fa-caret-up">
                    </span>
                  </a>
                </th>
                <th>
                  <a href="#" ng-click="sortType = 'source'; sortReverse = !sortReverse">
                    安装源
                    <span ng-show="sortType == 'source' && !sortReverse"
                      class="fa fa-caret-down">
                    </span>
                    <span ng-show="sortType == 'source' && sortReverse"
                      class="fa fa-caret-up">
                    </span>
                  </a>
                </th>
                <th>
                  <a href="#" ng-click="sortType = 'depend'; sortReverse = !sortReverse">
                    依赖
                    <span ng-show="sortType == 'depend' && !sortReverse"
                      class="fa fa-caret-down">
                    </span>
                    <span ng-show="sortType == 'depend' && sortReverse"
                      class="fa fa-caret-up">
                    </span>
                  </a>
                </th>
                <th>
                  <a href="#" ng-click="sortType = 'usage'; sortReverse = !sortReverse">
                    被使用的集群数
                    <span ng-show="sortType == 'usage' && !sortReverse"
                      class="fa fa-caret-down">
                    </span>
                    <span ng-show="sortType == 'usage' && sortReverse"
                      class="fa fa-caret-up">
                    </span>
                  </a>
                </th>
                <th class="numeric">操作</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="item in datalist | orderBy:sortType:sortReverse | filter:itemFilter | filter:paginate" select-on-click class="ng-scope">
                <td class="name ng-scope"> <p class="name-wrapper ng-binding" ng-bind="item.name"></p></td>
                <td ng-bind="item.source"></td>
                <td ng-bind="item.depend"></td>
                <td ng-bind="item.usage" ></td>
                <td class="numeric" valign="middle">
                  <a href="/cmdb/apptpl/info/{{item._id}}" has-permission="/cmdb/apptpl:GET" class="btn btn-primary btn-xs">查看</a>&nbsp;&nbsp;
                  <a href="/cmdb/apptpl/update/{{item._id}}" has-permission="/cmdb/apptpl:PUT" class="btn btn-primary btn-xs">修改</a>&nbsp;&nbsp;
                  <a href="javascript:;" ng-click="deleteitem(item)" has-permission="/cmdb/apptpl:DELETE" class="btn btn-danger btn-xs">删除</a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="box-body table-responsive no-padding" ng-switch-when="2">
          <center style="padding:20px 0;">无数据 .....</center>
        </div>
      </div>

      <div class="box-footer clearfix">
        <!--
        <uib-pagination total-items="totalItems" ng-model="currentPage"
          items-per-page="pagesize" max-size="maxSize" rotate="true"
          ng-change="pageChanged()" boundary-links="true"
          class="pagination pagination-sm no-margin pull-right"
          previous-text="&lsaquo;" next-text="&rsaquo;"
          first-text="&laquo;" last-text="&raquo;">
        </uib-pagination>
        -->
        <div class="col-sm-6">
          <ul uib-pagination total-items="totalItems" ng-model="currentPage"
            max-size="maxSize" boundary-link-numbers="true" rotate="false"
            items-per-page="numPerPage" class="pagination-sm pull-left">
          </ul>
        </div>
        <div class="col-sm-6">
          <label for="usertable_length" class="pull-right" style="margin:20px 0;">每页显示的行数：
            <select name="usertable_length" ng-model="numPerPage" aria-controls="usertable">
              <option value="5" ng-selected="true" selected="yes">5</option>
              <option value="10">10</option>
              <option value="25">25</option>
              <option value="50">50</option>
              <option value="100">100</option>
            </select>
          </label>
        </div>
      </div>
    </div>
  </div>
</div>
