<!--出票管理  ->  出票列表-->
<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">出票管理</h3>

                <div class="box-tools"></div>
            </div>
            <div class="clearfix">
                <div style="float: right; padding:0 15px;">

                    <div has-permission="btn:fos:finance:draw:chupiaohistory" style="float: left;margin-right:10px;padding-bottom:10px;">
                        <a href="/drawhistorylist"  class="btn btn-success btn-sm" data-reveal-id="add-label-myModal" data-animation="fade" title="出票历史"><i class="fa fa-external-link-square"></i></a>
                    </div>

                   <!-- <div class="input-group input-group-sm" style="float: left;margin-right:10px;padding-bottom:10px;">
                        <input type="text" class="form-control pull-right" placeholder="订单名称..." ng-keypress="enter($event)" ng-model="input.parammap.orderName">
                    </div>-->
                    <div class="input-group input-group-sm" style="width:180px;padding-bottom:10px;">
                        <!--<input type="text" class="form-control pull-right" placeholder="产品名称..." ng-keypress="enter($event)" ng-model="input.parammap.productName">-->
                        <input type="text" class="form-control pull-right" placeholder="订单名称..." ng-keypress="enter($event)" ng-model="input.parammap.orderName">
                        <div class="input-group-btn">
                            <button type="submit" class="btn btn-default" ng-click="pageChanged(1)"><i class="fa fa-search"></i></button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- /.box-header -->
            <div ng-switch="tablestatus">
                <div class="box-body table-responsive no-padding" ng-switch-when="1">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <!-- <th>序号</th> -->
                                <!-- <th>订单Id</th> -->
                                <th>订单名称</th>
                                <!-- <th>产品名称</th> -->
                                <th>接入来源</th>
                                <!-- <th>签约主体</th> -->
                                <!-- <th>运营数据</th> -->
                                <th>运营金额</th>
                                <th>对账数据</th>
                                <th>应收金额</th>
                                <th>核减金额</th>
                                <th>应支金额</th>
                                <th>利润</th>
                                <th>利润率</th>
                                <th>预收金额</th>
                                <th>票据开始时间</th>
                                <th>票据结束时间</th>
                                <th>详情</th>
                                <th class="numeric">操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="ticketorder in datalist" >
                                <!-- <td>{{$index+1}}</td> -->
                                <!-- <td ng-bind="ticketorder.orderId"></td> -->
                                <td ng-bind="ticketorder.orderName"></td>
                                <!-- <td ng-bind="ticketorder.productName"></td> -->
                                <td ng-bind="ticketorder.company"></td>
                                <!-- <td ng-bind="ticketorder.cpMain|cpMainfilter:ticketorder.cpMain"></td> -->
                                <!-- <td ng-bind="ticketorder.oCountSum"></td> -->
                                <td ng-bind="ticketorder.oAmountSum|currency : '￥'"></td>
                                <td ng-bind="ticketorder.oCount"></td>
                                <td ng-bind="ticketorder.subOAmount|currency : '￥'"></td>
                                <td ng-bind="ticketorder.cut|currency : '￥'"></td>
                                <td ng-bind="ticketorder.subCAmount|currency : '￥'|emptyfilter"></td>
                                <td ng-bind="ticketorder.profit|currency : '￥'|emptyfilter" ></td>
                                <td ng-bind="(ticketorder.profitMargin*100|number:2)+'%'"></td>
                                <td ng-bind="ticketorder.advancePay|currency : '￥'|emptyfilter"></td>
                                <td ng-bind="ticketorder.ticketBegintime|date:'yyyy-MM-dd'"></td>
                                <td ng-bind="ticketorder.ticketEndtime|date:'yyyy-MM-dd'"></td>
                                <td><a class="btn btn-default btn-xs" data-toggle="modal" ng-click="open(ticketorder)">查看</a></th>
                                <td class="numeric" valign="middle">
                                    <a href="/drawbill/{{ticketorder.orderId}}/{{ticketorder.ticketBegintime|date:'yyyy-MM-dd'}}/{{ticketorder.ticketEndtime|date:'yyyy-MM-dd'}}" has-permission="btn:fos:finance:draw:chupiao" class="btn btn-warning btn-xs">出票</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="box-body table-responsive no-padding" ng-switch-when="2">
                    <center style="padding:20px 0;">无数据 .....</center>
                </div>
            </div>
            <!-- /.box-body -->
            <div class="box-footer clearfix">
                <uib-pagination total-items="totalItems" ng-model="currentPage" items-per-page="pagesize" max-size="maxSize" rotate="true" ng-change="pageChanged()" boundary-links="true" class="pagination pagination-sm no-margin pull-right" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;"
                                    last-text="&raquo;"></uib-pagination>                                     
            </div>
        </div>
        <!-- /.box -->
    </div>
</div>
