<div class="modal-content">
  <div class="modal-header">
    <button type="button" class="close" ng-click="$dismiss()" aria-label="Close">
      <i class="fa fa-times"></i>
    </button>
    <h4 class="modal-title" id="myModalLabel">详情</h4>
  </div>
  <div class="modal-body">
    <div class="table-responsive">
      <table class="table" data-hide='{{value|json}}'>
        <tbody>
          <tr>
            <th style="width:20%;">订单Id</th>
            <td ng-bind="$resolve.value.orderId"></td>
          </tr>
          <tr>
            <th>订单名称</th>
            <td ng-bind="$resolve.value.orderName"></td>
          </tr>
          <tr>
            <th>产品名称</th>
            <td ng-bind="$resolve.value.productName"></td>
          </tr>
          <tr>
            <th>接入来源</th>
            <td ng-bind="$resolve.value.company"></td>
          </tr>
          <tr>
            <th>签约主体</th>
            <td ng-bind="$resolve.value.cpMain|cpMainfilter:ticketorder.cpMain"></td>
          </tr>
          <tr>
            <th>运营数据</th>
            <td ng-bind="$resolve.value.oCountSum"></td>
          </tr>
          <tr>
            <th>运营金额</th>
            <td ng-bind="$resolve.value.oAmountSum|currency : '￥'"></td>
          </tr>
          <tr>
            <th>对账数据</th>
            <td ng-bind="$resolve.value.oCount"></td>
          </tr>
          <tr>
            <th>应收金额</th>
            <td ng-bind="$resolve.value.subOAmount|currency : '￥'"></td>
          </tr>
          <tr>
            <th>核减金额</th>
            <td ng-bind="$resolve.value.cut|currency : '￥'"></td>
          </tr>
          <tr>
            <th>应支金额</th>
            <td ng-bind="$resolve.value.subCAmount|currency : '￥'|emptyfilter"></td>
          </tr>
          <tr>
            <th>利润</th>
            <td ng-bind="$resolve.value.profit|currency : '￥'|emptyfilter"></td>
          </tr>
          <tr>
            <th>利润率</th>
            <td ng-bind="($resolve.value.profitMargin*100|number:2)+'%'"></td>
          </tr>
          <tr>
            <th>预收金额</th>
            <td ng-bind="$resolve.value.advancePay|currency : '￥'|emptyfilter"></td>
          </tr>
          <tr>
            <th>票据开始时间</th>
            <td ng-bind="$resolve.value.ticketBegintime|date:'yyyy-MM-dd'"></td>
          </tr>
          <tr>
            <th>票据结束时间</th>
            <td ng-bind="$resolve.value.ticketEndtime|date:'yyyy-MM-dd'"></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" ng-click="$dismiss()">关闭</button>
  </div>
</div>
