<!--财务对账  ->  每日渠道订单维护-->
<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">每日渠道订单历史列表</h3>

                <div class="box-tools"></div>
            </div>
            <div class="clearfix">
                <div style="float: right; padding:0 15px;">

                    <div class="input-group input-group-sm" style="width:180px; float: left;margin-right:10px;padding-bottom:10px;">
                        <div class="input-group-addon"><i class="fa fa-calendar"></i></div>
                        <input type="daterange" name="" class="form-control pull-right active" ng-model="dates4" ranges="ranges">
                    </div>

                    <div style="float: left;margin-right:10px;padding-bottom:10px;">
                        <select style="width: auto;padding:4px 12px;height:auto;" class="form-control" required ng-model="input.parammap.orderDirectorName">
                            <option value="">商务人员...</option>
                            <option value="{{user.trueName}}({{user.id}})" ng-bind="user.trueName" ng-repeat="user in userlist"></option>
                        </select>
                    </div>

                    <div class="input-group input-group-sm" style="float: left;margin-right:10px;padding-bottom:10px;">
                        <input type="text" class="form-control pull-right" placeholder="订单名称..." ng-keypress="enter($event)" ng-model="input.parammap.orderName">
                    </div>
                    <div class="input-group input-group-sm" style="width:180px;padding-bottom:10px;">
                        <input type="text" class="form-control pull-right" placeholder="渠道简称..." ng-keypress="enter($event)" ng-model="input.parammap.channelName">

                        <div class="input-group-btn">
                            <button type="submit" class="btn btn-default" ng-click="pageChanged(1)"><i class="fa fa-search"></i></button>
                        </div>
                    </div>
                </div>
                
            </div>

            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="info-box bg-aqua">
                        <span class="info-box-icon"><i class="fa fa-road"></i></span>

                        <div class="info-box-content">
                            <span class="info-box-text">订单数量</span>
                            <span class="info-box-number" ng-bind="fixtozero(sum.oCount)"></span>

                            <div class="progress">
                                <div class="progress-bar"></div>
                            </div>
                            <span class="progress-description"></span>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="info-box bg-green">
                        <span class="info-box-icon"><i class="fa fa-flask"></i></span>

                        <div class="info-box-content">
                            <span class="info-box-text">订单金额</span>
                            <span class="info-box-number" ng-bind="fixtozero(sum.oAmount)|currency : '￥'"></span>

                            <div class="progress">
                                <div class="progress-bar"></div>
                            </div>
                            <span class="progress-description"></span>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="info-box bg-yellow">
                        <span class="info-box-icon"><i class="fa fa-pie-chart"></i></span>

                        <div class="info-box-content">
                            <span class="info-box-text">渠道数量</span>
                            <span class="info-box-number" ng-bind="fixtozero(sum.cCount)"></span>

                            <div class="progress">
                                <div class="progress-bar"></div>
                            </div>
                            <span class="progress-description"></span>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="info-box bg-red">
                        <span class="info-box-icon"><i class="fa fa-leaf"></i></span>

                        <div class="info-box-content">
                            <span class="info-box-text">渠道金额</span>
                            <span class="info-box-number" ng-bind="fixtozero(sum.cAmount) |currency : '￥'"></span>

                            <div class="progress">
                                <div class="progress-bar"></div>
                            </div>
                            <span class="progress-description"></span>
                        </div>
                    </div>
                </div>

            </div>

            <!-- /.box-header -->
            <div ng-switch="tablestatus">
                <div class="box-body table-responsive no-padding" ng-switch-when="1">

                   <!-- <table class="table-bordered table-striped table-condensed flip-content " >
                        <thead class="flip-content">
                            <th>总计</th>
                            <th >订单数量</th>
                            <th >订单金额</th>
                            <th >渠道数量</th>
                            <th >渠道金额</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td align="center" >总计</td>
                            <td align="center" ng-bind="sum.oCount"></td>
                            <td align="center" ng-bind="sum.oAmount|currency : '￥'"></td>
                            <td align="center" ng-bind="sum.cCount"></td>
                            <td align="center" ng-bind="sum.cAmount|currency : '￥'"></td>
                        </tr>
                        </tbody>
                    </table>
                    <hr/>-->

                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <!-- <th>序号</th> -->
                                <th style="width: 80px">待录时间</th>
                                <!-- <th>渠道订单Id</th> -->
                                <!-- <th>订单Id</th> -->
                                <th>订单名称</th>
                                <th>渠道简称</th>
                                <!-- <th>产品名称</th> -->
                                <th>商务负责人</th>
                                <th>接入单价</th>
                                <th>订单数量</th>
                                <th>订单金额</th>
                                <!-- <th>渠道Id</th> -->
                                <!-- <th>渠道负责人</th> -->
                                <th>外放单价</th>
                                <th>渠道数量</th>
                                <th>渠道金额</th>
                                <!--<th>状态</th>-->
                                <th>详情</th>
                                <th class="numeric">操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="ocday in datalist">
                                <!-- <td>{{$index+1}}</td> -->
                                <td ng-bind="ocday.entryTime | date:'yyyy-MM-dd'"></td>
                                <!-- <td ng-bind="ocday.channelOrderId"></td> -->
                                <!-- <td ng-bind="ocday.orderId"></td> -->
                                <td ng-bind="ocday.orderName"></td>
                                <td ng-bind="ocday.channelName"></td>
                                <!-- <td ng-bind="ocday.productName"></td> -->
                                <td ng-bind="ocday.orderDirectorName"></td>
                                <td ng-bind="ocday.payUnit|currency : '￥'"></td>
                                <td ng-bind="ocday.oCount"></td>
                                <td ng-bind="ocday.oAmount|currency : '￥'"></td>
                                <!-- <td ng-bind="ocday.channelId" ></td> -->
                                <!-- <td ng-bind="ocday.channelDirectorName"></td> -->
                                <td ng-bind="ocday.outerUnit|currency : '￥'"></td>
                                <td ng-bind="ocday.cCount"></td>
                                <td ng-bind="ocday.cAmount|currency : '￥'"></td>
                                <!--<td ng-bind="ocday.ocDayStatus | statusfilter:ocday.ocDayStatus"></td>-->
                                <td><a class="btn btn-default btn-xs"  data-toggle="modal" ng-click="open(ocday)">查看</a></td>
                                <td class="numeric" valign="middle" ng-switch="ocday.orderMonthStatus+ocday.channelMonthStatus">
                                    <a class="btn btn-primary btn-xs" ng-switch-when="0" href="/ocdayhistoryupdate/{{ocday.id}}" has-permission="btn:fos:data:ocday:history:update">修改</a>
                                    <a class="btn btn-primary btn-xs" ng-switch-when="1" href="/ocdayhistoryupdate/{{ocday.id}}" has-permission="btn:fos:data:ocday:history:update">修改</a>
                                    <a class="btn btn-primary btn-xs disabled" ng-switch-when="2" href="javascript:;" has-permission="btn:fos:data:ocday:history:update">不可修改</a>
                                    <a class="btn btn-danger btn-xs" ng-switch-when="0" href="javascript:;" ng-click="deleteocday(ocday)" has-permission="btn:fos:data:ocday:history:delete">删除</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="box-body table-responsive no-padding" ng-switch-when="2">
                    <center style="padding:20px 0;">无数据 .....</center>
                </div>
            </div>
            <!-- /.box-body -->
            <div class="box-footer clearfix">
                <uib-pagination  total-items="totalItems" ng-model="currentPage" items-per-page="pagesize" max-size="maxSize" rotate="true" ng-change="pageChanged()" boundary-links="true" class="pagination pagination-sm no-margin pull-right" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;"
                                    last-text="&raquo;"></uib-pagination>
            </div>
        </div>
        <!-- /.box -->
    </div>
</div>